<div class="row">
  <div class="col-md-6">
    <h1>*ngIf</h1>
    <hr>
    <button type="button" class="btn btn-outline-primary block"
      (click)="mostrar = !mostrar">
      Mostrar/Ocultar
    </button>
    <br>
    <br>
    <div *ngIf="mostrar" class="card text-white bg-primary mb-3 text-center">
      <div class="card-body">
        <p class="card-text">{{frase.mensaje}}</p>
      </div>
      <div class="card-footer">{{frase.autor}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <h1>*ngFor</h1>
    <hr>

    <ul class="list-group">
      <li *ngFor="let personaje of personajes; let i = index;" class="list-group-item">{{i+1}}. {{personaje}}</li>
    </ul>
  </div>
</div>